{% extends 'base.html.twig' %}

{% block page_title 'Homepage' %}
{% block title 'Homepage' %}

{% block body %}
    <p>Welcome to TP4!</p>

    {#
     FIXME:
        Lister les utilisateurs mais pas les admins. DONE
        L'utilisateur actuelement connecté doit être en gras. TODO
        Au clique sur un utilisateur je suis redirigé sur sa page de profile DONE
     #}

    <ul>
        {% for user in users %}
            <li>
                <a href="/profile/{{ user.id }}">{{ user.firstname }} {{ user.lastname }} - {{ user.email }}</a>
            </li>
        {% endfor %}

    </ul>
{% endblock %}
